#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [12]:
#Import the diabetes dataset
df_dbt_data=pd.read_csv('../Lesson 8-2/pima-indians-diabetes.data',header=None)

#### 2: Analyze the dataset

In [13]:
#View the first five observations of the dataset
df_dbt_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [15]:
#Use the .NAMES file to view and set the features of the dataset
features=['pregnancies','glucose_tol','BP','skin_fold','insulin','BMI','pedigree','age','label']

In [18]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_dbt_data=pd.read_csv('../Lesson 8-2/pima-indians-diabetes.data',header=None,names=features)

In [20]:
#Verify if the dataset is updated with the new headers
df_dbt_data.head()

,pregnancies,glucose_tol,BP,skin_fold,insulin,BMI,pedigree,age,label
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [21]:
#View the number of observations and features of the dataset
df_dbt_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [26]:
#Select features from the dataset to create the model
feat_cols=['pregnancies','glucose_tol','insulin','BMI','pedigree','age']
X=df_dbt_data[feat_cols]
Y=df_dbt_data[['label']]

In [24]:
#Create the feature object
X.head()

   pregnancies  glucose_tol  insulin   BMI  pedigree  age
0            6          148        0  33.6     0.627   50
1            1           85        0  26.6     0.351   31
2            8          183        0  23.3     0.672   32
3            1           89       94  28.1     0.167   21
4            0          137      168  43.1     2.288   33

In [27]:
#Create the reponse object
Y.head()

   label
0      1
1      0
2      1
3      0
4      1

In [28]:
#View the shape of the feature object
X.shape

(768, 6)

In [29]:
#View the shape of the target object
Y.shape

(768, 1)

#### 5: Use training and testing datasets to train the model

In [35]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=1)

In [36]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(576, 6)
(576, 1)
(192, 6)
(192, 1)

In [45]:
y_test.head()

     label
285      0
101      0
581      0
352      0
726      0

#### 6: Create a model  to predict the diabetes outcome

In [37]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()
lgr.fit(x_train,y_train)

/home/martha/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
#Make predictions using the testing set
pred=lgr.predict(x_test)
pred[:15,]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0])

#### 7: Check the accuracy of the model

In [41]:
#Evaluate the accuracy of your model
from sklearn import metrics
metrics.accuracy_score(y_test,pred)#closer to 1,closer to accuracy

0.7604166666666666

In [92]:
#Print the first 30 actual and predicted responses
#print()
predt=pd.DataFrame({'predicted': pred[0:30]})
#predt
actual=y_test[0:30]
actual.reset_index(drop=True,inplace=True)
actual.head()

   label
0      0
1      0
2      0
3      0
4      0

In [93]:
predt.reset_index(drop=True,inplace=True)
predt.head()

   predicted
0          0
1          0
2          0
3          0
4          0

In [95]:
compare=actual.join(predt)
compare

    label  predicted
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0
5       0          0
6       0          0
7       0          0
8       0          0
9       0          0
10      0          1
11      0          0
12      1          1
13      1          1
14      0          0
15      1          1
16      1          0
17      0          0
18      0          0
19      0          0
20      1          0
21      1          0
22      1          1
23      1          0
24      0          0
25      0          0
26      0          0
27      1          1
28      0          0
29      1          1